::ng-deep .p-dialog {
  border: none;
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: #303030;
  color: #fff;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: #303030;
  color: #fff;
}

::ng-deep .p-dialog .p-dialog-footer {
  background: #303030;
  color: #fff;
}
::ng-deep .p-button.p-button-text {
  background-color: #7b1fa2;
  color: white;
  border-color: transparent;
}

::ng-deep .p-dialog .p-dialog-content {
  overflow: visible;
}

::ng-deep .action-buttons {
  justify-content: flex-end;
}

::ng-deep .title-center {
  justify-content: center;
}
